<div class="container">
  <h3>CRUD operation with JSON Server API</h3>
  <form #myForm="ngForm">
    <div class="form-group">
      <label for="email">Name</label>
      <input type="text" [(ngModel)]="userObj.name" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Mobile</label>
      <input type="email" [(ngModel)]="userObj.mobile" name="mobile" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" [(ngModel)]="userObj.email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="pwd">Position:</label>
      <input type="text" [(ngModel)]="userObj.position" name="position" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addUser(myForm.value)" *ngIf="!isEdit">Submit</button>
    <button type="submit" class="btn btn-primary" (click)="updateUser(myForm.value)" *ngIf="isEdit">Update</button>
  </form>
  <h3>Users Data</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Position</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <td>{{user.name}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.email}}</td>
        <td>{{user.position}}</td>
        <td><button class="btn btn-warning" (click)="editUser(user)">Edit</button> <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>